@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #f7f7f7;
}

.wrapper{
	background: #fff;
	width: 450px;
	border: 1;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);;
}

/* Login & Signup Form CSS Start */

.form{
	padding: 25px 35px ;
}

.form header{
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}

.form form{
	margin: 20px 0;
}

.form form .error-txt{
	color: #721c24;
	background: #f8d7da;
	padding: 8px 10px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
	border-color: 1px solid #f5c6cb;
	display: none;
}

.form form .field{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}

.form .field i{
	position: absolute;
	right: 15px;
	top: 70%;
	transform: translateY(-50%);
	color: #ccc;
	cursor: pointer;
}

.form .field i.active::before{
	color: #333;
	content: "\f070";
}

.form form .field input{
	height:40px;
	width: 100%;
	outline: none;
	padding: 0 10px;
}

.form form .field label{
	margin-bottom: 5px;
}

.form form .image input{
	font-size: 17px;
	padding: 0 0;
}

.form form .button input{
	border-radius: 5px;
	border: none;
	background: #333;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
	margin-top: 13px;
}

.form .link{
	text-align: center;
	margin-top: 13px;
	font-size: 17px;
}

.form .link a{
	color: #333;
}

.form .link a:hover{
	text-decoration: underline;
}

.form form .name-details{
	display: flex;
	flex-direction: row;
}

.form form .name-details .field:first-child{
	margin-right: 10px;
}

.form form .name-details .field:last-child{
	margin-left: 10px;
}

/*Users Area CSS Code*/

.users{
	padding: 25px 30px;
}

.wrapper img{
	object-fit: cover;
}

.wrapper .incoming img{
	object-fit: cover;
	border-radius: 50%;
}

.users header,
.users-list a{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 25px;
	border-bottom: 1px solid #e6e6e6;
}

.users header .content img{
	width:50px;
	height: 50px;
	border-radius: 50%;
}

:is(.users, .users-list) .content{
	display: flex;
	align-items: center;
}

:is(.users, .users-list) .details{
	color: #000;
	margin-left: 15px;
}

:is(.users, .users-list) .details span{
	font-size: 18px;
	font-weight: 500;
}

.users header .logout{
	color: #fff;
	padding: 7px 15px;
	font-size: 17px;
	background: #333;
	border-radius: 5px;
}

.users .search{
	position: relative;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.users .search input{
	position: absolute;
	width: calc(100% - 50px);
	height: 42px;
	padding: 0 13px;
	outline: none;
	font-size: 17px;
	border: 1px solid #333;
	border-radius: 5px 0 0 5px;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.3s ease;
}

/* .users .search input.active{
	opacity: 1;
	pointer-events: auto;
} */

.users .search button{
	width: 47px;
	height: 42px;
	border: none;
	outline: none;
	font-size: 17px;
	background: #333;
	color: #fff;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	transition: all 0.2s ease;
}

/* .users .search button.active{
	color: #fff;
	background: #333;
} */

/* .users .search button.active i::before{
	content: "\f00d";
} */

.users-list{
	max-height: 340px;
	overflow-y: auto;
}

:is(.chat-box, .users-list)::-webkit-scrollbar{
	width: 0;
}

.users-list a{
	margin-bottom: 10px;
	padding: 10px;
	border-color: #f1f1f1;
}

.users-list a .content img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.users-list a .content p{
	color: #67676a;
}

.users-list a:last-child{
	border: none;
	margin-bottom: 0px;
}

.users-list a .status-dot{
	font-size: 12px;
	color: #468669;
	padding-right: 15px;
}

.users-list a .status-dot.offline{
	color: #ccc;
}

/*Chat Area CSS Code*/

.chat-area header{
	display: flex;
	align-items: center;
	padding: 18px 30px;
}

.chat-area header span{
	font-size: 17px;
	font-weight: 500;
}

.chat-area header img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 0 15px;
}

.chat-area header .back-icon{
	font-size: 18px;
	color: #333;
}

.chat-area .typing-area{
	display: flex;
	justify-content: space-between;
	padding: 18px 30px;}

.typing-area input{
	height: 45px;
	width: calc(100% - 116px);
	/* margin-left: 58px; */
	font-size: 17px;
	padding: 0 13px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: none;
	border-radius: 0px 0 0 0px ;
	outline: none;
}

.typing-area button{
	width: 55px;
	border: none;
	font-size: 18px;
	background: #333;
	color: #fff;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	outline: none;
}

.typing-area label{
	width: 65px;
	height: 45px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	font-size: 18px;
	background: #fff;
	color: #333;
	cursor: pointer;
	border-radius: 5px 0 0 5px;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-box{
	height: 500px;
	padding: 10px 30px 20px 30px;
/*	max-height: 500px;*/
	overflow-y: auto;
	background: #f7f7f7;
  	box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box::-webkit-scrollbar{
	width: 0;
}

.chat-box .chat {
	margin-bottom: 15px;
}

.chat-box .chat p{
	word-wrap: break-word;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .incoming{
	display: flex;
	align-items: flex-end;
}

 .chat-box .incoming .pfp{
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.outgoing{
	display: flex;
	align-items: flex-end;
}

.outgoing .details img{
	max-width: 200px;
	display: block;
	border: 5px solid #333;
	border-radius: 10px 10px 0 0;
	margin-top: 0;
}

.outgoing .details img.active{
	border-radius: 10px 10px 10px 10px;
}

.outgoing .details{
	max-width: calc(100% - 130px);
	margin-left: auto;  
	position: relative;
}

.outgoing .details p{
	background: #333;
	color: #fff;
	border-radius: 18px 18px 0 18px;
	padding-right: 40px;
}

.outgoing .details p.active{
	/* background: #333;
	color: #fff; */
	border-radius: 0 0 0 18px ;
}

.incoming .details{
	max-width: calc(100% - 130px);
	margin-right: auto;
	position: relative;
}

.incoming .details img{
	max-width: 200px;
	display: block;
	border: 5px solid #ffffff;
	border-radius: 10px 10px 0 0;
	margin-top: 0;
}

.incoming .details img.active{
	border-radius: 10px 10px 10px 10px;
	border: 5px solid #ffffff;
}

.incoming .details p{
	background: #fff;
	color: #333;
	border-radius: 18px 18px 18px 0;
	padding-right: 40px;
}

.incoming .details p.active{
	border-radius: 0 0 0 18px ;

}

.outgoing .details span{
	position: absolute;
    bottom: 2px;
    right: 6px;
    font-size: 10px;
    color: white;
	/* background-color: rgb(116, 116, 116, 0.2); 
  	border: 2px solid rgba(116, 116, 116, 0.01);  */
	border-radius: 41%;
	margin-bottom: 3px;
	margin-right: 3px;
}

.incoming .details span{
    font-size: 10px;
    color: black;
	position: absolute;
    bottom: 2px;
    right: 6px;
	background-color: rgb(255, 255, 255, 0.4); 
  	border: 1px solid rgb(255, 255, 255, 0.04);
	border-radius: 35%; 
	margin-bottom: 3px;
	margin-right: 3px;
}

.file-btn {
    position: relative;
}

.file-indicator {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background: #4caf50; /* green */
    border-radius: 50%;
    display: none;
}

.file-indicator.active{
	display: block;
}

.outgoing .file-download{
    display: inline-block;
    padding: 8px 12px;
    background: #444;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
	text-decoration: underline;
	padding-right: 40px;
}

.incoming .file-download{
	display: inline-block;
    padding: 8px 12px;
    background: #fff;
    color: #333;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
	text-decoration: underline;
	padding-right: 40px;
}

.file-download:hover{
    opacity: 0.9;
}

.chat-box .error-box span{
	position: absolute;
	align-items: center;
	justify-content: center;
}